Library/Il2cppBuildCache/Android/arm64-v8a/Native/arm64-v8a/libil2cpp.sym.so
Library/PackageCache/com.ptc.vuforia.engine@d6f4211fb158-1656029485000/Vuforia/Plugins/iOS/VuforiaEngine.framework/VuforiaEngine
Packages/com.ptc.vuforia.engine-10.8.4.tgz
Library/ArtifactDB
Library/Il2cppBuildCache/Android/arm64-v8a/Native/arm64-v8a/libil2cpp.dbg.so
